section {
  width: 60%;
  margin: 10px auto;
}
.container {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 5px 10px 20px;
}
input {
  border: none;
  outline: #777 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 80%;
}
.text {
  color: #777;
  font-weight: bold;
}
